mapping_data/**/*.zip filter=lfs diff=lfs merge=lfs -text
bags/**/*.mcap filter=lfs diff=lfs merge=lfs -text
study_data/**/*.mcap filter=lfs diff=lfs merge=lfs -text
results/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
